In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.9 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%sql
sqlite:///chinook.db

In [ ]:
%%sql
SELECT * FROM customers
LIMIT 10;

 * sqlite:///chinook.db
Done.

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3),
 (2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5),
 (3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3),
 (4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4),
 (5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4),
 (6, 'Helena', 'Holý', None, 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', '+420 2 4177 0449', None, 'hholy@gmail.com', 5),
 (7, 'Astrid', 'Gruber', None, 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', '+43 01 5134505', None, 'astrid.gruber@apple.at', 5),
 (8, 'Daan', 'Peeters', None, 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', '+32 02 219 03 03', None, 'daan_peeters@apple.be', 4),
 (9, 'Kara', 'Nielsen', None, 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', '+453 3331 9991', None, 'kara.nielsen@jubii.dk', 4),
 (10, 'Eduardo', 'Martins', 'Woodstock Discos', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', '+55 (11) 3033-5446', '+55 (11) 3033-4564', 'eduardo@woodstock.com.br', 4)]

ALIASING

In [ ]:
%%sql
SELECT customers.FirstName AS "customer_name",
customers.LastName AS "customer_surname",
employees.FirstName AS "employee_name",
employees.LastName AS "employee_surname"
FROM customers, employees
WHERE employees.Country="Canada" AND customers.SupportRepId=employees.EmployeeId

 * sqlite:///chinook.db
Done.

[('Luís', 'Gonçalves', 'Jane', 'Peacock'),
 ('François', 'Tremblay', 'Jane', 'Peacock'),
 ('Roberto', 'Almeida', 'Jane', 'Peacock'),
 ('Jennifer', 'Peterson', 'Jane', 'Peacock'),
 ('Michelle', 'Brooks', 'Jane', 'Peacock'),
 ('Tim', 'Goyer', 'Jane', 'Peacock'),
 ('Frank', 'Ralston', 'Jane', 'Peacock'),
 ('Robert', 'Brown', 'Jane', 'Peacock'),
 ('Edward', 'Francis', 'Jane', 'Peacock'),
 ('Ellie', 'Sullivan', 'Jane', 'Peacock'),
 ('Fynn', 'Zimmermann', 'Jane', 'Peacock'),
 ('Niklas', 'Schröder', 'Jane', 'Peacock'),
 ('Wyatt', 'Girard', 'Jane', 'Peacock'),
 ('Isabelle', 'Mercier', 'Jane', 'Peacock'),
 ('Terhi', 'Hämäläinen', 'Jane', 'Peacock'),
 ('Ladislav', 'Kovács', 'Jane', 'Peacock'),
 ('Hugh', "O'Reilly", 'Jane', 'Peacock'),
 ('Emma', 'Jones', 'Jane', 'Peacock'),
 ('Phil', 'Hughes', 'Jane', 'Peacock'),
 ('Manoj', 'Pareek', 'Jane', 'Peacock'),
 ('Puja', 'Srivastava', 'Jane', 'Peacock'),
 ('Bjørn', 'Hansen', 'Margaret', 'Park'),
 ('František', 'Wichterlová', 'Margaret', 'Park'),
 ('Daan', 'Peeters', 'Margaret', 'Park'),
 ('Kara', 'Nielsen', 'Margaret', 'Park'),
 ('Eduardo', 'Martins', 'Margaret', 'Park'),
 ('Fernanda', 'Ramos', 'Margaret', 'Park'),
 ('Frank', 'Harris', 'Margaret', 'Park'),
 ('Dan', 'Miller', 'Margaret', 'Park'),
 ('Heather', 'Leacock', 'Margaret', 'Park'),
 ('John', 'Gordon', 'Margaret', 'Park'),
 ('Richard', 'Cunningham', 'Margaret', 'Park'),
 ('Patrick', 'Gray', 'Margaret', 'Park'),
 ('Aaron', 'Mitchell', 'Margaret', 'Park'),
 ('João', 'Fernandes', 'Margaret', 'Park'),
 ('Madalena', 'Sampaio', 'Margaret', 'Park'),
 ('Camille', 'Bernard', 'Margaret', 'Park'),
 ('Dominique', 'Lefebvre', 'Margaret', 'Park'),
 ('Stanisław', 'Wójcik', 'Margaret', 'Park'),
 ('Mark', 'Taylor', 'Margaret', 'Park'),
 ('Diego', 'Gutiérrez', 'Margaret', 'Park'),
 ('Leonie', 'Köhler', 'Steve', 'Johnson'),
 ('Helena', 'Holý', 'Steve', 'Johnson'),
 ('Astrid', 'Gruber', 'Steve', 'Johnson'),
 ('Alexandre', 'Rocha', 'Steve', 'Johnson'),
 ('Mark', 'Philips', 'Steve', 'Johnson'),
 ('Jack', 'Smith', 'Steve', 'Johnson'),
 ('Kathy', 'Chase', 'Steve', 'Johnson'),
 ('Victor', 'Stevens', 'Steve', 'Johnson'),
 ('Julia', 'Barnett', 'Steve', 'Johnson'),
 ('Martha', 'Silk', 'Steve', 'Johnson'),
 ('Hannah', 'Schneider', 'Steve', 'Johnson'),
 ('Marc', 'Dubois', 'Steve', 'Johnson'),
 ('Lucas', 'Mancini', 'Steve', 'Johnson'),
 ('Johannes', 'Van der Berg', 'Steve', 'Johnson'),
 ('Enrique', 'Muñoz', 'Steve', 'Johnson'),
 ('Joakim', 'Johansson', 'Steve', 'Johnson'),
 ('Steve', 'Murray', 'Steve', 'Johnson'),
 ('Luis', 'Rojas', 'Steve', 'Johnson')]

JOINS

In [ ]:
%%sql
SELECT customers.FirstName, customers.LastName, employees.FirstName,employees.LastName
FROM customers, employees
WHERE employees.Country="Canada" AND customers.SupportRepId=employees.EmployeeId;

 * sqlite:///chinook.db
Done.

[('Luís', 'Gonçalves', 'Jane', 'Peacock'),
 ('François', 'Tremblay', 'Jane', 'Peacock'),
 ('Roberto', 'Almeida', 'Jane', 'Peacock'),
 ('Jennifer', 'Peterson', 'Jane', 'Peacock'),
 ('Michelle', 'Brooks', 'Jane', 'Peacock'),
 ('Tim', 'Goyer', 'Jane', 'Peacock'),
 ('Frank', 'Ralston', 'Jane', 'Peacock'),
 ('Robert', 'Brown', 'Jane', 'Peacock'),
 ('Edward', 'Francis', 'Jane', 'Peacock'),
 ('Ellie', 'Sullivan', 'Jane', 'Peacock'),
 ('Fynn', 'Zimmermann', 'Jane', 'Peacock'),
 ('Niklas', 'Schröder', 'Jane', 'Peacock'),
 ('Wyatt', 'Girard', 'Jane', 'Peacock'),
 ('Isabelle', 'Mercier', 'Jane', 'Peacock'),
 ('Terhi', 'Hämäläinen', 'Jane', 'Peacock'),
 ('Ladislav', 'Kovács', 'Jane', 'Peacock'),
 ('Hugh', "O'Reilly", 'Jane', 'Peacock'),
 ('Emma', 'Jones', 'Jane', 'Peacock'),
 ('Phil', 'Hughes', 'Jane', 'Peacock'),
 ('Manoj', 'Pareek', 'Jane', 'Peacock'),
 ('Puja', 'Srivastava', 'Jane', 'Peacock'),
 ('Bjørn', 'Hansen', 'Margaret', 'Park'),
 ('František', 'Wichterlová', 'Margaret', 'Park'),
 ('Daan', 'Peeters', 'Margaret', 'Park'),
 ('Kara', 'Nielsen', 'Margaret', 'Park'),
 ('Eduardo', 'Martins', 'Margaret', 'Park'),
 ('Fernanda', 'Ramos', 'Margaret', 'Park'),
 ('Frank', 'Harris', 'Margaret', 'Park'),
 ('Dan', 'Miller', 'Margaret', 'Park'),
 ('Heather', 'Leacock', 'Margaret', 'Park'),
 ('John', 'Gordon', 'Margaret', 'Park'),
 ('Richard', 'Cunningham', 'Margaret', 'Park'),
 ('Patrick', 'Gray', 'Margaret', 'Park'),
 ('Aaron', 'Mitchell', 'Margaret', 'Park'),
 ('João', 'Fernandes', 'Margaret', 'Park'),
 ('Madalena', 'Sampaio', 'Margaret', 'Park'),
 ('Camille', 'Bernard', 'Margaret', 'Park'),
 ('Dominique', 'Lefebvre', 'Margaret', 'Park'),
 ('Stanisław', 'Wójcik', 'Margaret', 'Park'),
 ('Mark', 'Taylor', 'Margaret', 'Park'),
 ('Diego', 'Gutiérrez', 'Margaret', 'Park'),
 ('Leonie', 'Köhler', 'Steve', 'Johnson'),
 ('Helena', 'Holý', 'Steve', 'Johnson'),
 ('Astrid', 'Gruber', 'Steve', 'Johnson'),
 ('Alexandre', 'Rocha', 'Steve', 'Johnson'),
 ('Mark', 'Philips', 'Steve', 'Johnson'),
 ('Jack', 'Smith', 'Steve', 'Johnson'),
 ('Kathy', 'Chase', 'Steve', 'Johnson'),
 ('Victor', 'Stevens', 'Steve', 'Johnson'),
 ('Julia', 'Barnett', 'Steve', 'Johnson'),
 ('Martha', 'Silk', 'Steve', 'Johnson'),
 ('Hannah', 'Schneider', 'Steve', 'Johnson'),
 ('Marc', 'Dubois', 'Steve', 'Johnson'),
 ('Lucas', 'Mancini', 'Steve', 'Johnson'),
 ('Johannes', 'Van der Berg', 'Steve', 'Johnson'),
 ('Enrique', 'Muñoz', 'Steve', 'Johnson'),
 ('Joakim', 'Johansson', 'Steve', 'Johnson'),
 ('Steve', 'Murray', 'Steve', 'Johnson'),
 ('Luis', 'Rojas', 'Steve', 'Johnson')]

In [ ]:
%%sql
PRAGMA.table_info(employees);

 * sqlite:///chinook.db
(sqlite3.OperationalError) near ".": syntax error
[SQL: PRAGMA.table_info(employees);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

DATA TYPES
1. Decimals
2. Intergers
3. Textual data
*CHAR(n) - character
*VARCHAR(n) - variable character\
4. Date - actual calendar dates "YYYY-MM-DD"
Date time - "YYYY-MM-DD HH:MM:SS"
Timestamp

JOINS

1. Inner join - common info/relatiobships in between tables
2. Right/left join - common info based on one table
3. Cross joins - combinations of rows in tables

In [ ]:
%%sql
SELECT a.Title AS "album_name",
       a.AlbumID AS "album_id",
       t.Name AS "track_name"
FROM albums a
INNER JOIN tracks t
ON a.Title=t.Name
LIMIT 15;

 * sqlite:///chinook.db
Done.

[('Balls to the Wall', 2, 'Balls to the Wall'),
 ('Restless and Wild', 3, 'Restless and Wild'),
 ('Let There Be Rock', 4, 'Let There Be Rock'),
 ('Master Of Puppets', 152, 'Master Of Puppets'),
 ('Out Of Exile', 11, 'Out Of Exile'),
 ('Black Sabbath', 16, 'Black Sabbath'),
 ('Body Count', 18, 'Body Count'),
 ('Chemical Wedding', 19, 'Chemical Wedding'),
 ('Prenda Minha', 21, 'Prenda Minha'),
 ('Minha Historia', 23, 'Minha Historia'),
 ('Da Lama Ao Caos', 25, 'Da Lama Ao Caos'),
 ('Heart of the Night', 38, 'Heart of the Night'),
 ('Into The Light', 40, 'Into The Light'),
 ('Stormbringer', 65, 'Stormbringer'),
 ('Houses Of The Holy', 129, 'Houses Of The Holy')]

In [ ]:
%%sql
SELECT a.Title AS "album_name",
       a.AlbumID AS "album_id",
       t.Name AS "track_name",
       ar.Name AS "artist_name"
FROM albums a
INNER JOIN tracks t
ON a.Title=t.Name
INNER JOIN artists ar
ON a.ArtistId=ar.ArtistId
LIMIT 15;

 * sqlite:///chinook.db
Done.

[('Balls to the Wall', 2, 'Balls to the Wall', 'Accept'),
 ('Restless and Wild', 3, 'Restless and Wild', 'Accept'),
 ('Let There Be Rock', 4, 'Let There Be Rock', 'AC/DC'),
 ('Out Of Exile', 11, 'Out Of Exile', 'Audioslave'),
 ('Black Sabbath', 16, 'Black Sabbath', 'Black Sabbath'),
 ('Black Sabbath', 16, 'Black Sabbath', 'Black Sabbath'),
 ('Body Count', 18, 'Body Count', 'Body Count'),
 ('Chemical Wedding', 19, 'Chemical Wedding', 'Bruce Dickinson'),
 ('Prenda Minha', 21, 'Prenda Minha', 'Caetano Veloso'),
 ('Minha Historia', 23, 'Minha Historia', 'Chico Buarque'),
 ('Da Lama Ao Caos', 25, 'Da Lama Ao Caos', 'Chico Science & Nação Zumbi'),
 ('Heart of the Night', 38, 'Heart of the Night', 'Spyro Gyra'),
 ('Into The Light', 40, 'Into The Light', 'David Coverdale'),
 ("Up An' Atom", 51, "Up An' Atom", 'Gene Krupa'),
 ('Fireball', 60, 'Fireball', 'Deep Purple')]